* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#password{
    text-align: center;
    font-size: 18px;
    background-color: pink;
}

div#container{
    display:none;
}

div#container.visibile{
    display: block;
}

.centra{
    font-size:25px;
    display: block;
    text-align: center;
}
